@import url(https://db.onlinewebfonts.com/c/2def107af3e4eeb88b5ca50c3320ae0a?family=TCCC-UnityHeadline+Regular);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background-color:#e9ecf0;
}




.headerContent{
    background:#fff;
    width: 100%;
    height: 96px;
    padding: 10px;
    display:flex;
    align-items: center
}
.thelogo{
    
  



    
}
.button{
    background: black;

}
.logo{
    margin-left: 7.5rem;
}
.headerTags{
    margin-left: 2.5rem;
    font-family: "TCCC-UnityHeadline Regular";
    font-weight: 800;
    font-size: small;
    padding:10px;

}
.headertagicon img{
   
    width: 27px;
    margin-left: 648px;
    margin-top: 3px;
}
.button{
    background: black;
    margin-left: 535px;

}

.nav{
    background:#fff;
    width:100%;
    height: 96px;
    margin:0;
    
}
.nav img{
    width:150px ;
    height: 64px;
   text-align: center;
     margin-left: 47rem;
    margin-bottom:20px;
    
}
.imghead{
    width:100%;
    height: 96px;
    margin:0;
}
.firstimage img{
    height: 1280;
    width: 1276px;
    margin-left: 100px;
    
    border-radius: 2%;
    margin-top:37px ;
}
.firstimage{
    
    margin-left:30px;
}

.products h1{
    align-items: center;
    margin-top:100px;
   
   text-align: center;
    
    
    
    
}


.innerimg img{
    width: 529px;
    height: 491px;
    margin-left: 211px;
    border: 10px solid #fff;
    border-width: 33px;
    border-radius: 26px
    
   
}
.div1{
    display: flex;
    padding-top: 94px;

}
.innercontent{
    width:518px;
    height:495px;
    background-color:#e9ecf0;
    margin-left: 63px;
    padding-left: 63px;
    align-items: center;
    padding-top:66px ;
    
    
}
.innercontent p{
    padding-top: 36px;
    font: 700 14px / 24px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;
   
}
.innercontent h2{
    padding-top: 36px;
    
}
.innercontent h3{
    padding-top: 45px;
    font: 700 14px / 24px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;

}
.innercontent button{
    font: 700 14px / 24px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down{
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.button{
    background: black;
    color: #fff;
    width:327px ;
    margin-top:26px ;
    border-radius: 48px;
    margin-left: 0px;
    padding-left: 0px;
    height: 40px;
    font: 700 14px / 14px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;

}
.innerimg2 img{
    width: 529px;
    height: 491px;
    margin-left: 211px;
    border: 10px solid #fff;
    border-width: 33px;
    border-radius: 26px
}






.div2{
    display: flex;
    padding-top: 94px;

}
.innercontent2{
    width:518px;
    height:495px;
    background-color:#e9ecf0;
    margin-left: 103px;
    padding-left: 63px;
    align-items: center;
    padding-top:66px ;
    
    
}
.innercontent2 p{
    padding-top: 36px;
    font: 700 14px / 24px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;
   
}
.innercontent2 h2{
    padding-top: 36px;
    
}
.innercontent2 h3{
    padding-top: 45px;
    font: 700 14px / 24px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;

}
.innercontent2 button{
    font: 700 14px / 24px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;
}
.arrow2 {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.down2{
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.button2{
    background: black;
    color: #fff;
    width:327px ;
    margin-top:26px ;
    border-radius: 48px;
    margin-left: 0px;
    padding-left: 0px;
    height: 40px;
    font: 700 14px / 14px Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;
}

.followaha{
    display: flex;
    width: 73%;
    height: 132px;
    background: black;
    border-radius: 17px;
    margin-top: 132px;
    padding: 20px;
    margin-left: 188px;
    margin-right: 263px;
    display:flex;
    margin-bottom: 80px;
}
.followaha h1{
    color: #fff;
    width: 10px;
    height: 10px;
    margin-left: 30px;
    margin-top: 34px;
    
}
.insta img{
    width: 45px;
    height: 38px;
    border: 1px solid white;
    border-radius: 42px;
    margin-left: 160px;
    position: absolute;
    margin-top: -17px;

}
.facebook img{
    width: 39px;
    height: 40px;
    border: 1px solid white;
    border-radius: 42px;
    margin-left: 193px;
    margin-top: -19px;
    position: absolute;
   
    border: 1px solid white;
    border-radius: 42px;
}.youtube img{
    width: 40px;
    height: 38px;
    border: 1px solid white;
    border-radius: 40px;
    margin-left: 224px;
    margin-top: 6px;
}

.logo1{
    display: flex;
    align-items: center;
    padding-left: 604px;
}
.logo1 div{
    padding-left: 20px;
}
.footer{
    
    width:100% ;
    background-color: black;
}
.footer img{
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 171px;
    margin-bottom: 44px;
}
.line{
    width: 79%;
    margin-left: 10rem;
    background-color: #fff;
}
.heading{
    color: #fff;
    padding-left: 161px;
    display: flex;
    margin-top: 17px;
    justify-content:space-between;
    padding-right: 1000px;
    background-color: black;

}
.help{
    padding-right: 7rem;
}
.shop{
    padding-right: 11rem;
    padding-left: 30px;
}
.legal{
    padding-right: 7rem;
    padding-left: 30px;
   
}
.hsub{
    padding-top: 10px;
    line-height: 47px;
    padding-left: 30px;
}
.ssub{
    padding-top: 10px;
    line-height: 47px;
    padding-left: 30px;
   
}
.lsub{
    padding-top: 10px;
    line-height: 47px;
    padding-left: 30px;

}
.smedia{
    padding-left: 100px;
    display: flex;
}
.smedia img{
    width: auto;
    height: 44px;
    position: absolute;
    background-color: black;
    margin-left: 104px;
 
    border-radius: 50%;
    border: 1px solid white;
    padding: 7px;
}
.icon1 {
   right: 18rem;
   
}
.icon2 {
   right: 15rem;
   
}
.icon3 {
  right:12rem
  
}
.icon4 {
    right: 9rem;
   
}
.line2{
    width: 79%;
    margin-left: 10rem;
    margin-top: 30px;
    background-color: black;
}
.end3{
    height: 100px;
    width: 449px;
    margin-top: 36px;
    margin-left: 69rem;
    color: white;
    background-color: black
    
}

.line{
  margin-top: 10px;
  margin-right:5px ;
  color: #fff;
}
.footer h{
    background-color: black;
    padding-left: 70rem;
    color: #fff;
}
.line2 {

    margin-right:5px ;
  
    background-color: white;
}

    .endtex{
        color: white;
        background-color: black;
        margin-left: 0rem;
        height: 115px;
        padding-left: 61rem;
        font-size: 15px;
    
    }

